<h1>Music App</h1>

<div>
  <input type="text" (keyup)="changeNote($event)" />
  <button (click)="playSound()">Play {{ note }}</button>
  <p>
    Notes Played:
    {{ notes }}
  </p>

  <button (click)="playAllNotes()">Play All Notes</button>
  <div id="add-note">
    <input type="text" (keyup)="($event)" />
    <button (click)="addButton($event)">Add A Note!</button>
  </div>
  <div>
    <button
      *ngFor="let notes of grid; index as i"
      id="gridButton"
      (click)="playGridNote($event)"
    >
      {{ this.grid[i] }}
    </button>
  </div>
</div>
